#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#messageBar {
	display: none;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#proteins {
	background-color: #C6D880;
	padding: 10px 0;
}

#sequences {
	width: 80%;
}

#comparisons {
	margin-left: 10px;
	float: left;
}

.comparison {
	margin-top: 15px;
	padding-top: 5px;
}

#protein-1,#protein-2 {
	display: inline;
	float: left;
}

#protein-2 {
	margin-left: 50px;
}

.other {
	background-color: #E6EFC2;
	padding: 15px 0;
}

label {
	font-weight: bold;
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 10px;
	font-size: .85em;
	color: #ff6600;
}

.info {
	background: #D5EDF8;
	color: #205791;
	border-color: #92CAE4;
}

.error {
	background: #FBE3E4;
	color: #8A1F11;
	border-color: #FBC2C4;
}

.error,.alert,.notice,.success,.info {
	padding: 0.8em;
	margin-bottom: 1em;
	border: 2px solid #DDD;
}

#add-new img {
	width: 20px;
	height: 20px;